h1,
p {
  color: green;
}
input,
.tombol {
  border: 1px solid rgb(255, 0, 0);
  padding: 7px;
}
.tombol {
  background-color: rgb(188, 173, 230);
}
table {
  border-collapse: collapse;
  position: relative;
  top: 10px;
}
th {
  background-color: rgb(115, 255, 0);
  color: white;
}
th,
td {
  border: 1px solid black;
  padding: 7px;
}
tr:nth-child(odd) {
  background-color: rgba(255, 255, 0, 0.664);
}
